* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;

    font-family: $ff-main-regular;
    font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;  
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border:none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

section {
    height: 100vh;
}

address {
    font-style: normal;
}

img {
    max-width:100%;
    max-height: 100%;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 94rem;
    margin: 0 auto;
}

