@font-face {
    font-family: 'Alegreya Sans ExtraBold';
    src: url('../fonts/AlegreyaSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'Alegreya Sans Bold';
    src: url('../fonts/AlegreyaSans-Bold.ttf');
}

@font-face {
    font-family: 'Alegreya Sans Medium';
    src: url('../fonts/AlegreyaSans-Medium.ttf');
}

@font-face {
    font-family: 'Alegreya Sans Regular';
    src: url('../fonts/AlegreyaSans-Regular.ttf');
}

@font-face {
    font-family: 'Alegreya Sans Light';
    src: url('../fonts/AlegreyaSans-Light.ttf');
}