$social: vk, fb, inst, tw;

/*Font family*/
$ff-main-light: 'Alegreya Sans Light';
$ff-main-regular: 'Alegreya Sans Regular';
$ff-main-medium: 'Alegreya Sans Medium';
$ff-main-bold: 'Alegreya Sans Bold';
$ff-main-ex-bold: 'Alegreya Sans ExtraBold';

/*Font size*/

/*Colors*/
$c-white: #fff;
$c-black: #000;

$c-bg-ligther: #f8faf9;
$c-bg-darker: #cfdeda;
$c-bg-blue: #61c4d9;

$c-primary: #5b5b5b;
$c-secondary: #0f5a47;