.footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    background-color: #fff;

    &__container {
        flex-direction: row;
        align-items: center;

        @include phones {
            flex-direction: column; 
            justify-content: center;
        }
    }   

    &__left {      
        justify-content: flex-start;     
    }

    &__right {      
        justify-content: flex-end;      
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
        width: 50%;
        
        @include phones {
            justify-content: center;
            width: 100%;
        }
    }
}