.landing {
    color: $c-white;
    background-color: $c-bg-blue;

    &__header {
        margin-top: 2.4rem;
    }
    &__container {
        align-items: flex-start;

        @include tablets {
            align-items: center;

        }

    }

    &__content {
        flex: 1;
        display: flex;
        align-items: center;

        @include tablets {
            flex-direction: column;
            padding: 0 24%;
        }

        @include phones {
            padding: 0;
        }
    }

    &__content-right,
    &__content-left {
        width: 50%;

        @include tablets {
            width: 100%;
        }
    } 

    &__content-left {
        @include tablets {
            text-align: center;
            order: 2;
        }   
    }

    &__content-right {
        position: relative;
        @include tablets {
            &::after {
                content: "";
                background-image: url("../img/decoration/leaves4.png");
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                width:90%;
                height: 90%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
            }
        }   
    }

    &__heading {
        font-family: $ff-main-bold;
        font-size: 6rem;
        line-height: 1;    
        text-transform: uppercase; 
        
        margin-bottom: .8rem;
    }

    &__text {
        display: inline-block;
        font-size: 2.1rem;
        margin-bottom: 3.3rem;

        @include tablets {
            max-width: 50rem;
            padding: 0 18%;
        }
    }

    &__buttons {
        margin-bottom: 6.5rem;
    }

    &__list {
        margin-top: auto;
        margin-bottom: 4.6rem;
        display: flex;
        align-items: flex-start;  
        
        @include tablets {
            justify-content: center;  
        }
    }

    &__item {
        margin-right: 4.7rem;
        width: 13.5rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &::after{
        content: url("../img/decoration/leaves2.png");
        position: absolute;
        right: 1.4rem;
        bottom: -6rem;
        z-index: 5;

        @include tablets{
            display: none;          
        }
    }

    &::before{
        content: url("../img/decoration/leaves1.png");
        position: absolute;
        left: 3rem;
        bottom: -6rem;
        z-index: 5;

        @include tablets{
            display: none;
        }
    }


}