.landing {
    color: $c-white;
    background-color: $c-bg-blue;
    background-image: url('../img/decoration/header-bg-image.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
    &__header {
        margin-top: 2.4rem;
    }

    &__container {
        align-items: flex-start;

        @include tablets {
            align-items: center;

        }

    }

    &__content {
        flex: 1;
        display: flex;
        align-items: center;

        @include tablets {
            flex-direction: column;
            padding: 0 15%;
        }

        @include phones {
            padding: 0;
        }
    }

    &__content-right,
    &__content-left {
        width: 50%;

        @include tablets {
            width: 100%;
        }
    } 

    &__content-left {
        @include tablets {
            text-align: center;
            order: 2;
        }   
    }

    // &__content-right {
    //     height: 50rem;
    //     background-image: url('../img/content/bars1.png');
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: cover;

    // }

    &__heading {
        font-family: $ff-main-bold;
        font-size: 6rem;
        line-height: 1;    
        text-transform: uppercase; 
        
        margin-bottom: .8rem;
    }

    &__text {
        display: inline-block;
        font-size: 2.1rem;
        margin-bottom: 3.3rem;

        @include tablets {
            max-width: 50rem;
            padding: 0 18%;
        }
    }

    &__buttons {
        margin-bottom: 6.5rem;
    }

    // &__image {
    //     background-image: url('../img/content/bars1.png');
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     max-width: 100%;
    //     max-height: 100%;
    //     transform: translate(5%,-6%);
    // }

    &__list {
        margin-top: auto;
        margin-bottom: 4.6rem;
        display: flex;
        align-items: flex-start;  
        
        @include tablets {
            justify-content: center;  
        }
    }

    &__item {
        margin-right: 4.7rem;
        width: 13.5rem;

        &:last-child {
            margin-right: 0;
        }
    }




    
    // &::before {
    //     @include absolute-decoration(
    //         '../img/decoration/landing-fg-image.png',
    //         right bottom,
    //         contain) {
    //             bottom: -8rem;
    //             right:0;
    //             width: 100%;
    //             height: 50%;
    //     }     
    // }


}