.order {
    background-color: #cfdeda;
    background-image: url('../img/decoration/order-bg-image.png');
    color: $c-secondary;

    &__container {
        display:flex;
        flex-direction: column;
        align-items:  center;
    }

    &__heading {
        margin-bottom: 6rem;
    }
}