.reasons {
    position: relative;
    background-image: url('../img/decoration/reasones-bg-image.png');
    background-repeat: no-repeat;
    background-position: center left;

    @include tablets {
        padding: 7rem 0;
    }

    &__container {
        justify-content: center;
        align-items: center;
    }

    &__description {
        text-align:  center;
        max-width: 44.5rem;
        margin-bottom: 5.6rem;

    }

    &__list {
        display: flex;
        align-items: center;

        @include tablets {
            flex-direction: column; 
        }
    }

    &__item {
        position: relative;
        width: 28rem;
        margin-right:6.3rem;
        
        &:last-child{
            margin-right: 0;
        }

        &:not(:last-child)::after {
            @include absolute-decoration(
            '../img/decoration/circles.png') {
                right:0;
                top: 20%;
                width: 7rem;
                height: 2.2rem;
                transform:translateX(100%)
            }     
            
            @include tablets {
               display: none;          
            }
        }

        @include tablets {
            margin-right: 0;
            margin-bottom: 2.3rem;           
        }
    }   

    &::after {
        content: url('../img/decoration/berries2.png');
        position: absolute;
        z-index: 5;
        left: 0;
        bottom: 0;
        transform: translateY(45%);

    }
}