.team {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: top;
        align-self: stretch;
        
        @include tablets {
            margin-top: 0; 
            max-width: 46rem;
            align-self: center;

        }
    }

    &__item {
        @include tablets {
            margin-bottom: 4rem; 
        }
    }

    &__item:nth-child(2n) {
        margin-top: 5.7rem;

        @include tablets {
            margin-top: 0; 
        }
    }  
    
    &::after {
        content:"" ;
        background-image: url('../img/decoration/berries4.png');
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 100%;
        max-height: 15rem;
        max-width: 10rem;
        width:100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(50%);
        z-index: 5;

        @include tablets {
            max-height: 9rem;
            max-width: 8rem;         
         }
    }
}
