.carousel {
    display: flex;
    align-items: center;
    position: relative;

    &__link {
        width: 2rem;  
        position: absolute;  
        &--l {
            right: 100%;
        }

        &--r {
            left:100%;
        }
    }

    &__svg {
        width: 100%;
        height: 100%;

        @include tablets {
            // margin-top: 22.2rem
        }
    }

    &__list-container {
        overflow: hidden;
    }

    &__list {
        display: flex;
        transition: transform .3s;
    }

    &__item {
        display:flex;
        flex: 0 0 100%;
        @include tablets {
            flex-direction: column;
            align-items: center;
        }
    }

    // &__item:nth-child(2) {
    //     position: absolute;
    //     top:0;
    //     left:100%;
    // }

    &__left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablets {
            margin-bottom: 4rem;
        }
    }

    &__right {
        max-width: 43.5rem;
        flex: 1;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 9rem;

        @include tablets {
            padding-left: 0;
            align-items: center;

        }
    }

    &__heading {
        font-family: $ff-main-bold;
        font-size: 3.6rem;
        text-transform: uppercase;
        margin-bottom: 4.6rem;

        @include tablets {
            text-align: center;
        }
    }

    &__container {
        @include tablets {
            margin: 0 2rem;
        }
    }
}