.contacts {
    font-size: 2.4rem;

    &__street {
        font-size: 2.38rem;
        font-family: $ff-main-regular;
        white-space: nowrap;

        @include phones {
            margin-bottom: 2rem;
        }
    }

    &__phone {
        white-space: nowrap;
    }

    &__phone-icon {
        width: 12px;
        height: 11px;
        margin-right: 7px;

        fill: #fff;
    }

    &__phone--green {
        vertical-align: middle;
        color: $c-secondary; 
            
        .contacts__phone-icon {
            fill: $c-secondary;
        }        
    } 

    @include phones {
        text-align: center;
        margin-bottom: 2rem;
    }
}