.heading {
    font-family: $ff-main-bold;
    text-transform: uppercase;
    
    &--secondary {
        font-size: 4.8rem;
        margin-bottom: 6.5rem;
    }

    //s - small;  m - margin
    &--sm {
        margin-bottom: 2rem;
    }
}
