.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 22.2rem;

    &__img-container {
        height: 28.8rem;
        // width: 22.2rem;
        margin-bottom: 2.3rem;
        overflow: hidden;
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__button {
        font-family: $ff-main-medium;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        
        &::after {
            content: " \25BC";
            display: inline; 
            color: $c-secondary;        
        }
    }

    &__box {   
        max-height: 0;
        overflow: hidden;
    }

    &__content {
        text-align: center;
        opacity: 0;
    }

    &__occupation {
        font-family: $ff-main-regular;
        font-size: 1.8rem;
        margin-bottom: 1.2rem;

    }

    &__comment {
        font-family: $ff-main-light;
        font-size: 1.8rem;
    }
    
    &.show-content .member__box {
        max-height: 100%;
    }
    &.show-content .member__content {
        opacity: 1;
    }

    &.show-content .member__button::after {
        content: "\25B2";
    }
}