.navigation {
    &__list{
        display: flex;
    }

    &__item {
        white-space: nowrap;
        margin-right: 2.8rem;
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }
    }
}